.top-head {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
      to bottom,
      rgba(8, 8, 8, 0.3) 40%,
      rgb(245, 243, 243) 75%,
      #f5f1f1 100%
    ),
    url("https://images.pexels.com/photos/167092/pexels-photo-167092.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  
}


.top-head h1 {
  font-family: "Varela Round", "apple-system", "BlinkMacSystemFont", "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 5.5rem;
  font-weight: bold;
  /* line-height: 2.5rem; */
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(241, 239, 239, 0.9) 70%, 
  rgba(255, 255, 255, 0)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
  bottom: 40px;
}


.search-btn {
  justify-content: center;
}
#search-bar {
  width: 450px;
}
.searchBtn {
  padding: 3.5px;
  line-height: 2;
  opacity: 0.6;
  border-radius: 4px;
}
.button{
  position: relative;
  top:6px;
  border-radius: 4px;
  
}
