#albums {
  border: solid black;
  padding: 10px;
}

#lyrics-section {
  border: solid gray;
  background: gray;
  color: white;
  padding: 20px;
}

#album-title,
#release-date {
  font-weight: bold;
}

#album-title{
    font-size: 20px;
}

#release-date{
    font-size: 18px;
}

footer {
  border: solid black;
  background: black;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 0;
}

.album {
  margin: auto;
}
