.hide {
  display: none;
}

#albums {

  padding: 10px;
}


.album-title,
.release-date 
{
  font-family: 'Work Sans', sans-serif;
}

.album-title {
  font-size: 1rem;
}


.release-date {
  font-size: 0.9rem;
}

footer {
  border: solid black;
  background: black;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 0;
}

.album {
  margin: auto;

}


.hidden
{
  display:none!important;
}

.vertical-menu li
{
  text-align:center;
}

.track-toggle {
  position: relative;
  transition: margin-top ease 1s;
  -webkit-transition: margin-top ease 1s;
}
.track-toggle:hover {
  margin-top: -30px;
  cursor:pointer

}

.menu li 
{
  text-align:center;
  font-weight:bold;
  font-family: 'Work Sans', sans-serif;
  padding:4px;
}

.menu
{
  max-height:300px;
  overflow-y: auto;

}